$color-black: #000000;
$color-white: #ffffff;
$color-transparent: transparent;
$color-eg-george: #21416c;
$color-eg-ocean: #1d69ec;
$color-eg-sky: #e7f3fb;
$color-eg-cloud: #e7f3fb;
$color-eg-grey-light: #f4f6fa;
$color-eg-grey: #f4f6fa;
$color-eg-grey-dark: #e4eaf0;
$color-honey: #ffd32a;
$color-honey-weak: #fffaeb;
$color-honey-strong: #995900;
$color-carrot: #ff6130;
$color-carrot-weak: #fff7f5;
$color-carrot-strong: #b14321;
$color-berry: #e1015b;
$color-berry-weak: #fdf2f7;
$color-berry-strong: #b40048;
$color-rose: #eb4c79;
$color-rose-weak: #fef6f8;
$color-rose-strong: #ca2f5b;
$color-lavender: #aa4bb3;
$color-lavender-weak: #fbf6fb;
$color-lavender-strong: #9a44a2;
$color-lila: #721c7a;
$color-lila-weak: #f7f3f8;
$color-lila-strong: #721c7a;
$color-indigo: #2f2d91;
$color-indigo-weak: #f5f5f9;
$color-indigo-strong: #2c2a88;
$color-pool: #199cf9;
$color-pool-weak: #f3faff;
$color-pool-strong: #0f5d95;
$color-teal: #02a3a4;
$color-teal-weak: #f2fafa;
$color-teal-strong: #017273;
$color-lime: #0cb43f;
$color-lime-weak: #f3fbf5;
$color-lime-strong: #08802c;
$color-forest: #028661;
$color-forest-weak: #f2f9f7;
$color-forest-strong: #027455;
$color-stone: #245375;
$color-stone-weak: #f4f6f8;
$color-stone-strong: #1f4865;
$color-blue-100: #f2f9ff;
$color-blue-200: #a2ceff;
$color-blue-300: #135ee2;
$color-blue-400: #0a285c;
$color-gray-100: #f4f6fa;
$color-gray-200: #e4eaf0;
$color-gray-300: #a3b5c9;
$color-gray-400: #567394;
$color-ui-blue: #135ee2;
$color-ui-blue-weak: #e7effd;
$color-ui-green: #07a721;
$color-ui-green-weak: #ecffe7;
$color-ui-red: #cf2a1e;
$color-ui-red-weak: #feebea;
$color-ui-yellow: #f2a91e;
$color-ui-yellow-weak: #fff4d5;
$color-ui-yellow-strong: #ad5700;
$color-ui-gray: #5d6a97;
$color-ui-gray-weak: #eff1f5;
$color-neutral-100: #ffffff;
$color-neutral-200: #e5e5e5;
$color-neutral-300: #c4c4c4;
$color-neutral-400: #000000;
$color-g-primary-100: #96c2ea;
$color-g-primary-200: #96c2ea;
$color-g-primary-300: #96c2ea;
$color-g-primary-400: #1d69ec;
$color-g-primary-500: #1d69ec;
$color-g-primary-600: #1d69ec;
$color-g-primary-700: #1d69ec;
$color-g-primary-800: #21416c;
$color-g-primary-900: #21416c;
$color-g-secondary-100: #e4eaf0;
$color-g-secondary-200: #e4eaf0;
$color-g-secondary-300: #a3b5c9;
$color-g-secondary-400: #a3b5c9;
$color-g-secondary-500: #a3b5c9;
$color-g-secondary-600: #5c7999;
$color-g-secondary-700: #5c7999;
$color-g-secondary-800: #5c7999;
$color-g-secondary-900: #21416c;
$color-g-grey-100: #f4f6fa;
$color-g-grey-200: #e4eaf0;
$color-g-grey-300: #e4eaf0;
$color-g-grey-400: #e4eaf0;
$color-g-grey-500: #a3b5c9;
$color-g-grey-600: #a3b5c9;
$color-g-grey-700: #a3b5c9;
$color-g-grey-800: #5c7999;
$color-g-grey-900: #5c7999;
$color-g-active-025: #ffffff;
$color-g-active-050: #f4f6fa;
$color-g-active-075: #f4f6fa;
$color-g-active-100: #f4f6fa;
$color-g-active-200: #f4f6fa;
$color-g-active-300: #1d69ec;
$color-g-active-400: #1d69ec;
$color-g-active-500: #1d69ec;
$color-g-active-600: #1d69ec;
$color-g-active-700: #1d69ec;
$color-g-active-800: #1d69ec;
$color-g-active-900: #21416c;
$color-g-red-025: #ffffff;
$color-g-red-050: #e72222;
$color-g-red-075: #e72222;
$color-g-red-100: #e72222;
$color-g-red-200: #e72222;
$color-g-red-300: #e72222;
$color-g-red-400: #e72222;
$color-g-red-500: #e72222;
$color-g-red-600: #e72222;
$color-g-red-700: #e72222;
$color-g-red-800: #e72222;
$color-g-red-900: #e72222;
$color-g-orange-025: #ffffff;
$color-g-orange-050: #f2a91e;
$color-g-orange-075: #f2a91e;
$color-g-orange-100: #f2a91e;
$color-g-orange-200: #f2a91e;
$color-g-orange-300: #f2a91e;
$color-g-orange-400: #f2a91e;
$color-g-orange-500: #f2a91e;
$color-g-orange-600: #f2a91e;
$color-g-orange-700: #f2a91e;
$color-g-orange-800: #f2a91e;
$color-g-orange-900: #f2a91e;
$color-g-yellow-025: #ffffff;
$color-g-yellow-050: #f2a91e;
$color-g-yellow-075: #f2a91e;
$color-g-yellow-100: #f2a91e;
$color-g-yellow-200: #f2a91e;
$color-g-yellow-300: #f2a91e;
$color-g-yellow-400: #f2a91e;
$color-g-yellow-500: #f2a91e;
$color-g-yellow-600: #f2a91e;
$color-g-yellow-700: #f2a91e;
$color-g-yellow-800: #f2a91e;
$color-g-yellow-900: #f2a91e;
$color-g-green-100: #00ab56;
$color-g-green-200: #00ab56;
$color-g-green-300: #00ab56;
$color-g-green-400: #00ab56;
$color-g-green-500: #00ab56;
$color-g-green-600: #00ab56;
$color-g-green-700: #00ab56;
$color-g-green-800: #00ab56;
$color-g-green-900: #00ab56;
$color-g-pro: #022e67;
$color-blue-bright: #2870ed;
$color-secondary-025: #ffffff;
$color-secondary-050: #e4eaf0;
$color-secondary-075: #e4eaf0;
$color-sky: #bce4fa;
